body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e2f;
  color: #f4f4f4;
  opacity: 0;
  animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}

label, select, input, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  box-sizing: border-box; 
}

input, select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #333;
  color: #f4f4f4;
  box-sizing: border-box;
}

input:focus, select:focus {
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.8); 
  outline: none;
}

button {
  background-color: #3c8c4a;
  font-family: 'Raleway', sans-serif;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box; 
}

button:hover {
  background-color: #367d42;
  transform: scale(1.05);
  transition: 0.7s;
}

#form-container {
  width: 60%;
  margin: 20px auto;
  background-color: #2b2b3a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top-bar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@keyframes slideDown {
  to {
      transform: translateY(0);
  }
}

.page-title {
  font-size: 18px;
  font-weight: 700;
  color: #4caf50;
}

.nav-button {
  background-color: #3c8c4a;
  border: none;
  color: white;
  width: auto;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #367d42;
  transform: scale(1.05);
  transition: 0.7s;
}

#results {
  white-space: pre-wrap;
  background-color: #1c1c2b;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #444;
}
